<h1>Editing mate</h1>

<%= render "form", mate: @mate %>

<br>

<div>
  
  <%= link_to "Show this mate", @mate, class:"btn btn-info" %> |
  <%= link_to "Back to mates", mates_path, class:"btn btn-dark" %>
  </div>
