
<div class="about">

<h1>About us</h1>
	</br>
	<h3>We're on a mission </h3></br></br>

	<h3> The #1 reason people quit tennis is because they don’t have someone to play with. Our goal	 is to grow tennis by making it easier to get practice, matches, and lessons on your local courts. </h3></br></br>
	<h3> Join our community to meet evenly-matched local players. Always have someone to practice with and compete in our fun and flexible Bracket Challenge League for regular matchplay. </h3></br></br>
		
	<h3> Please sign up and have access to the Tennis Mate world! </h3></br></br>	


</div>

