<body>
<div class="index">

	<h1>Welcome</h1>
		</br>
	<h3>Looking for practice partners, matches, lessons and leagues on your local tennis courts? </h3></br></br></br>

	<h3> We offer you a list of tennis mates to choose from. All levels of play from beginner to advanced and various locations. </h3></br></br>
		
	<h3> Please sign up to have access to the Tennis Mate world! </h3></br></br>	

	<h3> Happy hitting! </h3>

</div>
</body>