<div class="about">

<h1>Rules and Ettiquetes</h1>
	</br>
	<h1>IMPORTANT TO NOTE FOR ALL PLAYERS</h1></br></br>

	<h4>1. Matches are self-umpired and should be conducted in the spirit of fair play. <p>

2. No one at this site or connected with the League can take responsibility for the safety or security of players whether playing on the courts or in the facilities associated with the Leagues, or elsewhere.<p>

3. Players compete at their own risk and it is the player's responsibility to ensure any courts used are safe for play.<p>

4. Players are solely responsible for court hire and equipment provision.<p>

5. Players must be 18 or older on the start day of a Round.<p>

6. Players must register and play under their real name (specifically not an alias, pseudonym or nickname) and must provide accurate contact details.<p>

7. We expect players to be sporting and courteous in dealings with opponents, tennis centres and their officials and us as organisers and our partner organisations, and we reserve the right to remove players who are not. </h4></br></br>

	<h6> All code misconducts are analyzed and can result in exclussion from the Tennis Mate Community. </h6></br></br>
		
	<h3> Please sign up and have access to the Tennis Mate world! </h3></br></br>	


</div>
